version: '3'
services:
  n8n:
    image: n8nio/n8n
    restart: always
    ports:
      - "5678:5678"
    environment:
      - WEBHOOK_URL=https://melanospermous-philanthropically-karlee.ngrok-free.dev/
      - N8N_PROTOCOL=https
      - N8N_HOST=melanospermous-philanthropically-karlee.ngrok-free.dev
      - N8N_PORT=5678
    volumes:
      - ~/.n8n:/home/node/.n8n